body {
    margin: 0;
    font-family: sans-serif;
}

p {
    /* color: #333; */
}

#wrapper {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* Bloc de gauche */

.left {
    width: 28%;
    /* background: #f0f0f0; */
    padding: 10px;
    overflow-y: auto;
}

.message {}

.conv {
    /* padding: 10px; */
    /* margin-bottom: 5px; */
    /* background: #ddd; */
    /* border-radius: 5px; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

#conv:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

div.infos_conv {
    margin-bottom: 10px;
}

div.infos_conv {
    position: relative;
}

div.infos_conv span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem !important;
}

/* Bloc de droite */

.right {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#messagesCont::-webkit-scrollbar {
    display: none;
}

.from-me,
.from-other {
    width: auto;
    max-width: calc(50% - 10px);
    border-radius: 10px;
}

.from-me {
    text-align: right;
    margin-left: auto;
}

.from-other {
    text-align: left;
    margin-right: auto;
}

.right textarea {
    resize: none;
}